@model OA.Data.Model.DocGia
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Tạo mới độc giả</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="HoTen" class="col-sm-2 control-label">Họ tên</label>
                        <div class="col-sm-6">
                            <input type="text" asp-for="HoTen" class="form-control" id="hoten" placeholder="Họ tên độc giả">
                        </div>
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="diachi" class="col-sm-2 control-label">Địa chỉ</label>

                        <div class="col-sm-6">
                            <input type="text" asp-for="DiaChi" class="form-control" placeholder="Địa chỉ">
                        </div>
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-6">
                            <input type="text" asp-for="DiaChi" class="form-control" placeholder="Email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgaySinh" class="col-sm-2 control-label">Ngày sinh</label>

                        <div class="col-sm-6">
                            <input type="datetime" asp-for="NgaySinh" class="form-control" placeholder="Ngày sinh">
                        </div>
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayLapThe" class="col-sm-2 control-label">Ngày lập thẻ</label>
                        <div class="col-sm-6">
                            <input asp-for="NgayLapThe" class="form-control" placeholder="Ngày lập thẻ">
                        </div>
                        <span asp-validation-for="NgayLapThe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoaiDocGiaId" class="col-sm-2 control-label"> Loại độc giả</label>
                        <div class="col-sm-6">
                            <select asp-for="LoaiDocGiaId" class="form-control" asp-items="ViewBag.LoaiDocGiaId"></select>                            <span asp-validation-for="LoaiDocGiaId" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-8">
                            <a asp-action="Index"><button class="btn btn-default">Cancel</button></a>
                            <button type="submit" class="btn btn-info pull-right">Tạo mới</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
            </form>
        </div>

        @*<div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"></label>
                        <input asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label"></label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgaySinh" class="control-label"></label>
                        <input asp-for="NgaySinh" class="form-control" />
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayLapThe" class="control-label"></label>
                        <input asp-for="NgayLapThe" class="form-control" />
                        <span asp-validation-for="NgayLapThe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayHetHan" class="control-label"></label>
                        <input asp-for="NgayHetHan" class="form-control" />
                        <span asp-validation-for="NgayHetHan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoaiDocGiaId" class="control-label"></label>
                        <input asp-for="LoaiDocGiaId" class="form-control" />
                        <span asp-validation-for="LoaiDocGiaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>*@
    </div>
</div>

